/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.app-header__header {
    max-width: 100%;
    background-color: #A1C3D1;
    margin-bottom: 0.5rem;
    padding: 2rem 1rem 0.5rem 1rem;
}
.navbar-collapse .nav-link {
    color: rgb(78, 23, 44);
}

.navbar-light .navbar-nav .show .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgb(78, 23, 44);
}

.navbar-light .navbar-brand {
  color: rgb(78, 23, 44);
}

small {
  color: #F0EBF4;
}

.bg-light {
  background-color: #A1C3D1 !important
}

.btn-primary {
    background-color: #B39BC8;
    color: white;
    border-color: #B39BC8;
    cursor: pointer;
   
}

.btn-danger {
  cursor: pointer;

}
.btn-primary:hover {
  background-color: #F172A1;
   border-color: #F172A1;
}

.error {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.app-header__header h1 a {
  color: #E64398;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.thead-table {
  color: white;
  background-color: #F172A1;
}

body {
  background-color: #F0EBF4;
}

.notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.welcome {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}