/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.app-header__header {
    max-width: 100%;
    background-color: #e4c2c0;
    margin-bottom: 0.5rem;
    padding: 2rem 1rem 0.5rem 1rem;
}
.navbar-collapse .nav-link {
    color: #2e2a2a;
}

.navbar-light .navbar-nav .show .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #2e2a2a;
}

.navbar-light .navbar-brand {
  color: #2e2a2a;
}

.bg-light {
  background-color: #e4c2c0 !important
}
