// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-ten__header {
    color: #fe3465;
    border-bottom: 2px solid;
    border-bottom-color: #fe3465;
}

a, h2, h3 {
    color: #fe3465;
}

.top-ten__creator {
    color: slategrey;
}