// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h4, h5 {
  font-weight: bold;
  font-family: "Gudea", sans-serif;
  font-size: 1.5rem;
}

main {
    padding: 2rem;
}